* {
    padding: 0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.navigation{
    height: 50px;
    width:100px;
    width:auto;
    background-color: #0f1111;
    display:flex;
}

#container{
    display: inline-block;
    color: white;
    height: 50px;
    
}
#search{
    height:47px;
    width: 100px;
    align-self: center;
}
#logo{
    height: 50px;
    width: 150px;
    background-image: url('D:/myprograms/amazon_logo.png');
    background-size: cover;
}
#logo:hover{
    border:2px white solid;
}
#container:hover{
    border:2px white solid;
}
#search:hover{
    border:2px white solid;
}